@{
    ViewData["Title"] = "Access denied";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</body>
</html>
